.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #151521;
    height: 100vh;
}
.Login .area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:  #151521;
    width: 40%;
}
.Login h2{
    font-size: 2.5rem;
    font-family: Oswald;
    margin-bottom: 20px;
}